/*setup*/
* {
    box-sizing: border-box;
    font-family: 'Roboto';
}




.hero-image {
    display: block;
}

img {
    /*makes it so it fits its container*/
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/*structure*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*sets body to full view height*/
}

main {
    flex: 1;
    /*stretches the bodys main child and puts footer at bottom*/
}

inner-column {
    display: block;
    padding: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/*COMPONENTS*/

/*HEADER AND LOG0 TEXT*/

.links, .hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.logo{
    font-size: 18px;
    color: #f9faf8;
}

button{
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 6px 20px;
    color: #f9faf8;
}



/*HEADER MODULE*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/*MODULES*/
/*Hero Section*/
.hero-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 700px;
    gap: 20px;
}

.hero-text,
.hero-image {
    display: block;
    flex: 1 1 50%;
    margin-bottom: 30px;
}

/*Info Section*/
.info-box h2 {
    font-size: 36px;
    color: #1f2937;
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px
}
.info-array {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}
.info-card {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    width: 125px;
}
.info-card p {
    margin-top: 4px;
    font-size: 12px;
}
.info-image {
    border: 2px solid #3882f6;
    display: block;
    border-radius: 10px;
    width: 125px;
    height: 125px;
}
.info-image img{
    display: block;
    width: 100%;
    height: 100%;
}

/*Quote section*/
.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 18%;
}
.quote-box em {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;;
}
.quote-box p {
    align-self: flex-end;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

.action-box {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
} 

p.action, p.action-description{
    margin: 0;
    color: #e5e7eb;
}

p.action{
    font-weight: 700;
}
p.action-description{
    font-size: 14px;
}

.sign-up-button {
    background-color: #3882f6;
    border: solid 2px white;
    border-radius: 8px;
    padding: 6px 20px;
    color: #f9faf8;
}

h2.footer-text{
    color: #f9faf8;
    text-align: center;
    font-size: 14px;
}
#quote {
    background-color: #e5e7eb;
}


#hero, #masthead, #footer{
    background-color: #1f2937;
}