/*setup*/
* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

header,
footer,
main {
    border: 3px solid red;
}

section {
    border: 4px solid lime;
}

.hero-image {
    display: block;
}

img {
    /*makes it so it fits its container*/
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/*structure*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*sets body to full view height*/
}

main {
    flex: 1;
    /*stretches the bodys main child and puts footer at bottom*/
}

inner-column {
    display: block;
    border: 4px solid orange;
    padding: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/*COMPONENTS*/

/*HEADER AND LOG0 TEXT*/

.links, .hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.logo{
    font-size: 18px;
    color: #f9faf8;
}



/*HEADER MODULE*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/*MODULES*/
.hero-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 700px;
    border: 1px solid blue;
    gap: 20px;
}

.hero-text,
.hero-image {
    display: block;
    flex: 1 1 50%;
    border: 1px solid blue;
    align-items: center;
    /*check on space between header, section 1, and section 2*/
    margin: 50px 0;
    /*check on space between header, section 1, and section 2*/
}

#hero, #masthead, #footer{
    background-color: #1f2937;
}